*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-clr-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 0.6em 1.2em;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  border-radius: 2em;
  cursor: pointer;

  transition: scale 0.5s ease-in-out;
  &:active {
    scale: 0.9;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
  display: none;
}
